<<<<<<< HEAD
.copyright {
    background-color: #333333;
    color: #edefee;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

.copyright p {
    font-size: 0.9rem;
    margin: 0;
}
=======
.copyright {
    background-color: #333333;
    color: #edefee;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

.copyright p {
    font-size: 0.9rem;
    margin: 0;
}
>>>>>>> b00288b52f058a0e290cd55204b98fe38618c6a4
