<<<<<<< HEAD
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden; /* Ensure the pseudo-element doesn't extend beyond */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.unsplash.com/photo-1551632436-cbf8dd35adfa?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #143329, rgba(0, 128, 0, 0));
    z-index: -1;
}

.hero-content {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    max-width: 50%; /* Limit the width of the content */
    margin-left: -50%; /* Add some margin from the left edge */
    text-align: left; /* Align text to the left */
}

.hero h1 {
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    margin-bottom: -1rem;
}

.hero h2 {
    font-family: 'Markazi Text', serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-text {
    font-size: 1.2rem;
    margin-bottom: 3rem;

}

.cta-button {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    background-color: #f4ce14;
    color: #333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}

.cta-button:hover {
    outline: 2px solid #f4ce14;
    background-color: rgba(255, 255, 255, 0.674);
    color: #202020;
    text-decoration: none; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-content {
        max-width: 80%;
        margin-left: 10%;
    }
}
=======
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden; /* Ensure the pseudo-element doesn't extend beyond */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.unsplash.com/photo-1551632436-cbf8dd35adfa?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #143329, rgba(0, 128, 0, 0));
    z-index: -1;
}

.hero-content {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    max-width: 50%; /* Limit the width of the content */
    margin-left: -50%; /* Add some margin from the left edge */
    text-align: left; /* Align text to the left */
}

.hero h1 {
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    margin-bottom: -1rem;
}

.hero h2 {
    font-family: 'Markazi Text', serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-text {
    font-size: 1.2rem;
    margin-bottom: 3rem;

}

.cta-button {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    background-color: #f4ce14;
    color: #333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}

.cta-button:hover {
    outline: 2px solid #f4ce14;
    background-color: rgba(255, 255, 255, 0.674);
    color: #202020;
    text-decoration: none; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-content {
        max-width: 80%;
        margin-left: 10%;
    }
}
>>>>>>> b00288b52f058a0e290cd55204b98fe38618c6a4
